.form-container {
  width: 50%}
  bmargin:0 auto;
p {
    font-family: "Times New Roman", Times, serif;
}body {
  margin: 0;
}


.big-box {
  height: 500px;
  width: 500px;
  border: 10px dotted #000000;
  position: relative;
}
.main-nav {
  height: 70px;
  width: 100%;
  background-color: #ccc;
}

.logo {
  height: 100%;
}

.nav-list {
  float: right;
  list-style: none;
}

.nav-item {
  float: left;
  margin-right: 15px;
}

.nav-link {
  color: green;
  text-decoration: none;
}
.main-box {
  height: 150px;
  width: 150px;
}

.box {
  height: 50px;
  width: 50px;
  text-align: center;
}

.circle-background {
  background-color: green;
  border-radius: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}
.fixed {
  position: fixed;
  left: 300px;
  top: 50px;
  background: red;
  color: #fafafa;
  z-index: 2;
   height: 50px;
  width: 50px;
   border: 50px  groove;
    padding: 30px;
   
   margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
.center {
  margin: 0 auto;
}

.center-text {
  padding-top: 13px;
  color: #fafafa;
}
.Large {
  height: 300px;
  width: 300px;
  border: 2px black;
  border-style: solid double;
}
.box{
   font-family: "Times New Roman", Times, serif;

  height: 50px;
  width: 50px;
  border: 1px dashed black;
  border-style: dotted dashed solid double;
}
.red {
  background-color: #808080;
